* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

/* HEADER */

.ms-navbar {
    display: block;
}
.container-nav {
    min-height: 60px;
    /* background-color: antiquewhite; */
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.logo {
    width: 85px;
    min-height: 60px;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#img-logo {
    width: 40%;
}
.container-search {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    background: #e5e5e5;
    border-radius: 6px;
    padding: 5px;
}
.search {
    width: calc(100% - 145px);
    min-height: 60px;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#tag-search {
    width: 96%;
    border: none;
    background-color: #e5e5e5;
    margin-left: 4px;
}
.items-nav {
    width: 60px;
    min-height: 60px;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-bell {
    color: #ff8f00;
}

.ms-navbar-alt {
    display: none;
}
.container-nav-alt {
    min-height: 60px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.logo-alt {
    width: 140px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#img-logo-alt {
    padding-left: 5px;
}
.search-alt {
    width: calc(100% - 280px);
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-search-alt {
    display: flex;
    justify-content: center;
    width: 98%;
    align-items: center;
    background: #e5e5e5;
    border-radius: 6px;
    padding: 5px
}
.items-nav-alt {
    width: 140px;
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}



/*********** Desktop version ***********/

@media screen and (min-width:992px) {
    .ms-navbar {
        display: none;
    }
    .ms-navbar-alt {
        display: block;
    }
}


/* MAIN */

.section-main {
    display: flex;
    height: calc(100vh - 60px);
    margin-top: 60px;
}


.sidebar {
    display: block;
}
.ms-leftcol {
    width: 80px;
    height: 100%;
    background-color: #051e34;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.upper-item {
    text-align: center;
    margin-top: 20px;
}
.fa-house, .fa-chart-simple, .fa-signal {
    color: white;
    font-size: 20px;
    padding: 8px 0;
}



.sidebar-alt {
    display: none;
}
.ms-leftcol-alt {
    width: 140px;
    height: 100%;
    background-color: #051e34;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 10px;
}
.upper-item-alt {
    text-align: center;
    margin-top: 20px;
}
.text-item-alt {
    color: white;
    font-size: 14px;
    padding-left: 7px;
}
#padding-signal {
    padding-left: 8px;
}
#padding-chart {
    padding-right: 3px;
}




.ms-rightcol {
    width: calc(100% - 80px);
    height: 100%;
    background-color: #f8f9fa;
    overflow: scroll;
}
.down-item {
    text-align: center;
    margin-bottom: 20px;
}
.fa-gear {
    color: white;
    font-size: 20px;
    
}
.intro {
    background-color: #1b72e8;
    padding-top: 10px;
}
.square {
    background-color: #ff8f00;
    min-height: 100px;
}
.ms-intro-container-1 {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 10px;
}
.ms-intro-container {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 10px;
}
.tag-boolean {
    color: white;
    text-decoration: none;
    background-color: #165bba;
    border-radius: 10px;
    padding: 2px 6px;
    font-size: 13px;

}
.fa-angles-right {
    color: white;
    padding: 0px 5px;
}
#boolean-text {
    font-size: 34px;
    color: white;
    margin-right: 10px;
}
.margin-student {
    padding-left: 10px;
}
.margin-student-1 {
    padding-left: 10px;
    padding-bottom: 10px;
}
#students {
    color: white;
    font-size: 14px;
    margin-top: 15px;
}
#n-students {
    color: white;
    font-size: 30px;
}


.classes {
    border-bottom: 1px solid #cccccc;
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    font-size: 28px;
}

.fa-square-plus {
    color: #0d6efd;
    font-size: 34px;
}
.ms-border {
    border: 1px solid #cccccc;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
}
.table {
    background-color: white;
}
.fa-code {
    color: white;
    background-color: #f26551;
    border-radius: 50%;
    padding: 7px;
}
.done {
    color: white;
    background-color: #198754;
    text-decoration: none;
    border-radius: 8px;
    padding: 2px 5px;
}
.fa-pencil, .fa-trash {
    color: #6c757d;
    border: 1.5px solid #6c757d;
    padding: 5px;
    border-radius: 5px;
}
.padding-todo {
    padding: 15px;
}

#img-stats {
    width: 100%;
}
.altezza {
    min-height: 35px;
    display: flex;
    align-items: center;
}
hr {
    margin: 0;
    color: #cccccc;
    height: 1.5px;
}
.stats-padding {
    padding-left: 15px;
}
#utenti-text {
    font-size: 20px;
}
.distanza-utenti {
    margin-bottom: 10px;
}
#tag-report {
    min-height: 45px;
    display: flex;
    align-items: center;
}

.container-fluid {
    padding-bottom: 50px;
}

/*********** Desktop version ***********/

@media screen and (min-width:992px) {
    .sidebar {
        display: none;
    }
    .sidebar-alt {
        display: block;
    }
    .ms-rightcol {
        width: calc(100% - 140px);
    }
}